.navigation-container {
    background-color: #f8f8f8;
    border-bottom: solid 1px #e7e7e7; 

    .menu {
        min-height: 80px;
    }

    .logo {
        img {
            width:100% !important;
        }
    }
}